[Unit]
Description=Cast Viewer
After=network-online.target

[Service]
WorkingDirectory=/home/pi/cast-viewer
User=pi

Environment=DISPLAY=:0.0

# Fix white flickering in omxplayer
Environment=NOREFRESH=1

Environment=PYTHONPATH=/home/pi/cast-viewer

# Don't activate screensaver
ExecStartPre=/usr/bin/xset s off

# Disable DPMS (Energy Star) features
ExecStartPre=/usr/bin/xset dpms 0 0 0 && /usr/bin/xset -dpms

# Don't blank the video device
ExecStartPre=/usr/bin/xset s noblank

ExecStart=/usr/bin/python /home/pi/cast-viewer/viewer.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
