@import 'layout';

body {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 2.8125vw;
    line-height: 1.4;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto
}

h1 {
    color: #fff;
    font-size: 5vw;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.2;
}

p {
    font-size: 2vw;
    margin-top: 0;
}

.content {
    width: 100%;
    height: 100vh;
    background: #2f3134;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    bottom: 60px;
    right: 60px;

    svg {
        width: 10.41667vw;
        max-height: 5.20833vw;
        max-width: 15.625vw;
        display: block
    }
}

.url {
    font-style: italic;
}

.setup {
    h1 {
        margin-bottom: 0;
        padding: 0 4vw 4vw;
        text-align: center;
    }

    h2 {
        background: #fff;
        color: #2f3134;
        padding: 1.5vw 2vw;
        letter-spacing: 25px;
        text-indent: 22px;
        font-size: 5vw;
        border-radius: 98px;
        font-family: "Courier New", "Raleway", Helvetica, Arial, sans-serif;
    }
}

.loading {
    margin-top: 25px;
}
