<div class="content hotspot">
    <div class="hotspot-side">
        <h1>Netwerkkabel</h1>
    </div>

    <div class="hotspot-side">
        <h1>WiFi</h1>
        <p class="lead">Verbind met je telefoon of laptop met het WiFi netwerk <strong id="ssid">...</strong>.</p>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/main.js"></script>
<script src="js/hotspot.js"></script>
