<!doctype html>
<html>
<head>
    <link href="css/player.css" rel="stylesheet">

    <script src="js/jquery.min.js"></script>
    <script src="js/player.js"></script>
</head>
<body>

    <iframe src="" frameborder="no" scrolling="no"></iframe>
    <iframe src="" frameborder="no" scrolling="no"></iframe>

    <div id="debug"></div>

</body>
</html>
