<div class="content setup">
     <h1>Woohoo! Player kan gekoppeld worden aan jouw Cast account.</h1>
     <h2 id="player-identifier">...</h2>
     <p>Vul bovenstaande code in op <span class="url">cast.enflow.nl</span></p>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/setup.js"></script>
