<div class="content setup">
     <h1>Woohoo! Player kan gekoppeld worden aan jouw Beamy account.</h1>
     <h2 id="player-identifier">...</h2>
     <p>Bekijk de instructies op <span class="url">beamy.tv/support/setup</span></p>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/setup.js"></script>
