<div class="content">
     <h1 class="setup">Woohoo! Player kan gekoppeld worden aan jouw Cast account.</h1>
     <h1 class="setup-identifier"><span id="player-identifier">...</span>JFDKLDFX</h1>
     <p>Vul bovenstaande code in op <span>cast.enflow.nl</span></p>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/setup.js"></script>
