[Unit]
Description=Beamy
After=X.service matchbox.service

[Service]
WorkingDirectory=/root/beamy
User=root

Environment=DISPLAY=:0
Environment=NOREFRESH=1
Environment=HOME=/root/beamy
Environment=DBUS_SYSTEM_BUS_ADDRESS=unix:path=/host/run/dbus/system_bus_socket

# Don't activate screensaver
ExecStartPre=/usr/bin/xset s off

# Disable DPMS (Energy Star) features
ExecStartPre=/usr/bin/xset -dpms

# Don't blank the video device
ExecStartPre=/usr/bin/xset s noblank

ExecStart=/usr/bin/env python /root/beamy/viewer.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
