[Unit]
Description=Cast
After=network-online.target

[Service]
WorkingDirectory=/home/pi/cast
User=pi

Environment=DISPLAY=:0.0
Environment=NOREFRESH=1
Environment=HOME=/data
Environment=DISABLE_UPDATE_CHECK=True
Environment=PYTHONPATH=/home/pi/cast

ExecStart=/usr/bin/python /home/pi/cast/viewer.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
